/* --- reset ---*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --- end of reset ---*/
.hidden{
    display: none;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: rgba(161, 0, 7, 0.6);
    height: 100%;
    width: 100%;
}

/*------ background ----*/

.bg-grad{
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
    }
    .bg-grad:after{
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px; 
    content: '';
    background: transparent url(../resources/img/pattern.png) repeat top left;}
      
    .bg-grad.active{
    opacity: 1;
    }
      
    .bg-grad.one{
    background: url(../resources/img/CenterofSecurity.jpg) center no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    }
      
    .bg-grad.two{
    background: url(../resources/img/51803a1b6cb2b2fa49e2d0dc2fe6a0ce.jpg) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    }

    .bg-grad.three{
        background: url(../resources/img/CenterofSecurity.jpg) no-repeat;
        background-size:cover;
        -webkit-background-Susize:cover;}

    .bg-grad.four{
    background: url(../resources/img/CenterofSecurity.jpg) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;}

    .bg-grad.five{
        background: url(../resources/img/CenterofSecurity.jpg) no-repeat;
        background-size:cover;
        -webkit-background-size:cover;}
    
    .bg-grad.six{
    background: url(../resources/img/CenterofSecurity.jpg) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;}

    .bg-grad.seven{
        background: url(../resources/img/CenterofSecurity.jpg) no-repeat;
        background-size:cover;
        -webkit-background-size:cover;}

/*----- end of background -----*/


.header-line {
    position: absolute;
    height: inherit;
    width: 95px;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.header-logo {
    height: 90px;
    width: 500px;
    padding-top: 35px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
}

.header-logo h1 {
    font-family: 'Franklin Gothic Heavy', sans-serif;
    font-size: 60px;
    color: white;
    padding-left: 8px;
    padding-bottom: 20px;
}

.header-logo.Abb-logo {
    height: 70px;
    width: auto;
    transition: transform 300ms;
    opacity: 1;
    z-index: 2;
}

.header-logo .Full-logo {
    font-family: 'Franklin Gothic Heavy', sans-serif;
    padding-left: 8px;
    color: white;
    font-size: 60px;
    transition: transform 300ms;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
}

.header-logo:hover .Abb-logo,
.header-logo:hover .Full-logo {
    transform: translateY(-110px);
    transition: opacity .9s;
}

.header-logo:hover .Full-logo {
    opacity: 1;
}

.nav-bar {
    width: 95px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggle-main {
    position: absolute;
    top: 47%;
    width: 39px;
    height: 53px;
    cursor: pointer;
    background-color: transparent;
    margin-left: 28px;
    padding: 0;
    border: 0;
    outline: 0;
    transform: rotate(90deg);
}

.toggle-main span {
    position: relative;
    width: 56px;
    height: 10px;
    background: #ffffff;
    display: block;
    margin-bottom: 8px;
    transition: .5s;
    border-radius: 5px;
}

.toggle-main span:nth-child(1) {
    transform-origin: left;
}

.toggle-main span:nth-child(2) {
    transform-origin: center;
}

.toggle-main span:nth-child(3) {
    transform-origin: left;
}

.toggle-main.toggle-active span:nth-child(1) {
    transform: rotate(44deg);
    left: 4px;
}

.toggle-main.toggle-active span:nth-child(2) {
    transform: rotate(315deg);
    right: 3.5px;
    top: 1px;
}

.toggle-main.toggle-active span:nth-child(3) {
    transform: scaleX(0);
}

.content-section {
    height: inherit;
    width: inherit;
    /*max-height: 1080px;
    max-width: 1920px; */
    background-size: cover;
    z-index: 0;
    opacity: 1;
}

.content {
    z-index: 11;
    padding-left: 10.65%;
    padding-top: 17.5%;
}

.logo{
    float: left;
    margin-right: 85px;
}

.logo h2 { 
    display: flex;
    justify-content: left;
    align-items: center;
    height: 82px;
    width: 651px;
    max-width: 651px;
    margin-left: 10%;
    font-size: 72px;
    color: white;
    font-family: 'Roboto';
    background-color: rgba(161, 0, 7, 0.6);
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 0px;
}

.center-information{
    position: relative;
    float: left;
    background-color: rgba(0,0,0,.70);
    width: 505px;
    height: 290px;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 30px;
    padding: 30px;
    margin: 0;
    overflow-y: auto;
    z-index 10;
    color: white;
}

.center-information::-webkit-scrollbar{
    padding: 5px;
    background-color: #000;
    width: 15px;
}

.center-information::-webkit-scrollbar-thumb{
    border-width:10px 10px 10px 20px;
    background-color:#8e0404;
}

.para-info{
    overflow-y: auto;
}

.close-button{
    display: none;
    position: absolute;
    right: 0px;
    top: -5px;
}

.icon{
    display: none;
}

.content-position {
    display: block;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 40px;
}

.content-position a {
    font-family: 'Roboto';
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    background-color: rgba(83, 80, 80, 0.7);
}

.swiper-pagination-bullet {
    width: auto; 
    font-family: 'Roboto medium';
    color: white !important;
    font-size: 36px ;
    margin-left: 5px;
    padding: 0px 2px;
    border-radius: 0;
    width: auto;
    height: 20px;
    text-align: center;
    line-height: 30px;
    color: #000;
    opacity: 1;
}


.swiper-pagination-bullet-active {
    background: rgba(156, 18, 26, 0.5);
    color: #000;
}

.social-links {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 310px;
    justify-content: space-between;
    z-index: 4;
}

.social-link {
    margin-right: 18px;
}

.swiper-container .swiper-wrapper .swiper-slide {
    height: 90px;
    width: inherit;
    height: inherit;
}
/* ----- menu ------*/
:root{
    --primary-color: rgba(13, 110, 139, 0.55);
    --overlay-color: rgba(0,0,0,1);
    --menu-speed: 0.75s;
}

.menu-wrap{
    position: fixed;
    width: inherit;
    height: inherit;
    top: 0;
    left:95px;
    opacity: 0.8;
    z-index: 1;
}
/* Show menu */

.menu-wrap .toggle:checked ~ .menu{
    visibility: visible;
}

.menu-wrap .toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 95px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div{
    background: var(--overlay-color) ;
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-start;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div{
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    font-family: 'Roboto';
    color: rgb(158,156,156);
    font-size: 48px;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* ----- region links ---- */
.region-links{
    position: relative;
    display: inline-block;
    padding-left: 14.2%;
    z-index: 4;
}

.region-link{
    font-family: 'Roboto medium';
    color: white !important;
    font-size: 32px;
    border-radius: 0;
    width: auto;
    text-align: left;
    line-height: 30px;
    color: #000;
    opacity: 1;
}

.region-link > p{
    display: inline-block;
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    padding: 5px 5px;
}
/* ----- media ----- */
/* ----- improve PC experience ----- */
@media (min-width: 1240px) and (max-width: 1450px){
    .center-information{
        width: 320px;
    }
}
/* ----- tablet album ------ */

@media (min-width: 1024px) and (max-width: 1240px) and (orientation: landscape){
    .header-line {
        position: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .header-logo{
        height: 77px;
        width: 300px;
        padding-top: 15px;
    }

    .header-logo .Full-logo {
        font-family: 'Franklin Gothic Heavy', sans-serif;
        padding-left: 8px;
        color: white;
        font-size: 40px;
        transition: transform 300ms;
        opacity: 0;
        transition: opacity .5s;
        z-index: 2;
    }
    
    .header-logo:hover .Abb-logo,
    .header-logo:hover .Full-logo {
        transform: translateY(-92px);
        transition: opacity .9s;
    }
    
    .header-logo:hover .Full-logo {
        opacity: 1;
    }
    
    .nav-bar {
        height: 77px;
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .toggle-main{
        display: block;
        position: inherit;
        transform: rotate(0deg);
        width: 56px;
        height: 59px;
        cursor: pointer;
        background-color: transparent;
        margin-left: 0px;
        margin-right: 50px;
        padding: 0;
        border: 0;
        outline: 0;
        padding-top: 18px;
    }

    .menu-wrap{
        position: fixed;
        width: inherit;
        height: inherit;
        top: 77px;
        left: 0px;
        opacity: 0.8;
        z-index: 1;
    }
    /* Show menu */
    
    .menu-wrap .toggle:checked ~ .menu{
        visibility: visible;
    }
    
    .menu-wrap .toggle:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggle:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu{
        position: fixed;
        top: 77px;
        left: 0px;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div{
        background: var(--overlay-color) ;
        width: 100%;
        height: 100%;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div{
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a{
        font-family: 'Roboto';
        color: rgb(158,156,156);
        font-size: 48px;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    .content {
        padding-left: 2%;
        padding-top: 24%;
    }
    .logo{
        margin-right: 60px;
    }
    .logo h2 { 
        display: flex;
        justify-content: left;
        align-items: center;
        height: 82px;
        max-width: 550px;
        margin-left: 10%;
        font-size: 60px;
        color: white;
        font-family: 'Roboto';
        background-color: rgba(161, 0, 7, 0.6);
        margin-bottom: 8px;
        padding-left: 10px;
        padding-right: 0px;
    }

    .center-information{
        position: relative;
        float: left;
        background-color: rgba(0,0,0,.70);
        width: 350px;
        height: 290px;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 22px;
        padding: 10px;
        overflow-y: auto;
        z-index: 10;
        color: white;
    }
    
    .content-position {
        display: block;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    
    .content-position a {
        font-family: 'Roboto';
        color: white;
        font-size: 30px;
        padding: 5px 10px;
        background-color: rgba(83, 80, 80, 0.7);
    }
    
    .swiper-pagination {
        padding-left: 3%;
    }
    
    .swiper-pagination-bullet {
        width: auto; 
        font-family: 'Roboto medium';
        color: white !important;
        font-size: 28px ;
        margin-left: 5px;
        padding: 0px 2px;
        border-radius: 0;
        width: auto;
        height: 20px;
        text-align: center;
        line-height: 30px;
        color: #000;
        opacity: 1;
    }
    
    
    .swiper-pagination-bullet-active {
        background: rgba(156, 18, 26, 0.5);
        color: #000;
    }
    
    .social-links {
        width: 233px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        display: flex;
        justify-content: space-between;
        z-index: 4;
    }
    
    .social-links a img{
        width: 85%;
        height: 95%;
    }

    .social-link {
        margin-right: 4px;
    }
    
}

/* ----- tablet portait ---- */
@media (min-width: 768px) and (max-width: 1023px){
    .header-line {
        position: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    .header-logo{
        height: 77px;
        width: 154px;
        padding-top: 15px;
    }

    .header-logo .Full-logo {
        font-family: 'Franklin Gothic Heavy', sans-serif;
        padding-left: 8px;
        color: white;
        font-size: 20px;
        transition: transform 300ms;
        opacity: 0;
        transition: opacity .5s;
        z-index: 2;
    }
    
    .header-logo:hover .Abb-logo,
    .header-logo:hover .Full-logo {
        transform: translateY(-70px);
        transition: opacity .9s;
    }
    
    .header-logo:hover .Full-logo {
        opacity: 1;
    }
    
    .nav-bar {
        height: 77px;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .toggle-main{
        display: block;
        position: inherit;
        transform: rotate(0deg);
        top: 0%;
        width: 56px;
        height: 59px;
        cursor: pointer;
        background-color: transparent;
        margin-left: 0px;
        margin-right: 30px;
        padding: 0;
        border: 0;
        outline: 0;
        padding-top: 18px;
    }

    .menu-wrap{
        position: fixed;
        width: inherit;
        height: inherit;
        top: 77px;
        left: 0px;
        opacity: 0.8;
        z-index: 1;
    }
    .menu-wrap .toggle:checked ~ .menu{
        visibility: visible;
    }
    
    .menu-wrap .toggle:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggle:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu{
        position: fixed;
        top: 77px;
        left: 0px;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div{
        background: var(--overlay-color) ;
        width: 100%;
        height: 100%;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div{
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a{
        font-family: 'Roboto';
        color: rgb(158,156,156);
        font-size: 48px;
        text-decoration: none;
        transition: color 0.4s ease;
    }


    .content {
        padding-left: 0%;
        padding-top: 50%;
    }

    .center-information{
        width: 200px;
        height: 210px;
    }
    .logo{
        margin-right: 50px;
    }
    .logo h2 { 
        display: flex;
        justify-content: left;
        align-items: center;
        height: 62px;
        width: 390px;
        margin-left: 10%;
        font-size: 42px;
        color: white;
        font-family: 'Roboto';
        background-color: rgba(161, 0, 7, 0.6);
        margin-bottom: 8px;
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .logo_text {}
    .center-information{
        width: 270px;
        height: 225px;
        font-size: 16px;
        line-height: 22px;
        padding: 10px;
    }
    .content-position {
        display: block;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    
    .content-position a {
        font-family: 'Roboto';
        color: white;
        font-size: 24px;
        padding: 5px 10px;
        background-color: rgba(83, 80, 80, 0.7);
    }
    
    .swiper-pagination {
        padding-left: 5%;
    }
    
    .swiper-pagination-bullet {
        width: auto; 
        font-family: 'Roboto medium';
        color: white !important;
        font-size: 24px ;
        margin-left: 2px;
        padding: 0px 2px;
        border-radius: 0;
        width: auto;
        height: 20px;
        text-align: center;
        line-height: 30px;
        color: #000;
        opacity: 1;
    }
    
    
    .swiper-pagination-bullet-active {
        background: rgba(156, 18, 26, 0.5);
        color: #000;
    }
    
    .social-links {
        width: 233px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        display: flex;
        justify-content: space-between;
        z-index: 4;
    }
    
    .social-links a img{
        width: 85%;
        height: 95%;
    }

    .social-link {
        margin-right: 4px;
    }
    
}

/* ----- Iphone X ----- */
@media (max-width: 767) and (min-width:662px){

}

@media (min-width: 375px) and (max-width: 767px) {
    .header-line {
        position: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    
    .header-logo{
        height: 77px;
        width: 154px;
        padding-top: 15px;
    }

    .header-logo .Abb-logo{
        font-size: 60px;
    }

    .header-logo .Full-logo {
        font-family: 'Franklin Gothic Heavy', sans-serif;
        padding-left: 8px;
        color: white;
        font-size: 20px;
        transition: transform 300ms;
        opacity: 0;
        transition: opacity .5s;
        z-index: 2;
    }
    
    .header-logo:hover .Abb-logo,
    .header-logo:hover .Full-logo {
        transform: translateY(-70px);
        transition: opacity .9s;
    }
    
    .header-logo:hover .Full-logo {
        opacity: 1;
    }
    
    .nav-bar {
        height: 77px;
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .toggle-main{
        display: block;
        position: inherit;
        transform: rotate(0deg);
        top: 0%;
        width: 56px;
        height: 59px;
        cursor: pointer;
        background-color: transparent;
        margin-left: 0px;
        margin-right: 30px;
        padding: 0;
        border: 0;
        outline: 0;
        padding-top: 18px;
    }
    
    /* Show menu */
    
    .menu-wrap{
        position: fixed;
        width: inherit;
        height: inherit;
        top: 77px;
        left: 0px;
        opacity: 0.8;
        z-index: 1;
    }

    .menu-wrap .menu{
        position: fixed;
        top: 77px;
        left: 0px;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .menu-wrap .menu > div > div > ul > li > a{
        font-family: 'Roboto';
        color: rgb(158,156,156);
        font-size: 36px;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    .content {
        padding-top: 30%;
        padding-left: 0%;
    }
    .logo{
        margin-right: 40px ;
    }
    .logo h2 { 
        display: flex;
        justify-content: left;
        align-items: center;
        height: 41px;
        width: 330px;
        margin-left: 10%;
        font-size: 36px;
        color: white;
        font-family: 'Roboto';
        background-color: rgba(161, 0, 7, 0.6);
        margin-bottom: 8px;
        padding-left: 2px;
        padding-right: 0px;
    }

    .center-information{
        width: 250px;
        height: 150px;
        font-size: 16px;
        line-height: 20px;
    }
    
    .content-position {
        display: block;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    
    .content-position a {
        font-family: 'Roboto';
        color: white;
        font-size: 18px;
        padding: 2.5px 5px;
        background-color: rgba(83, 80, 80, 0.7);
    }

    .swiper-pagination {
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    
    .swiper-pagination-bullet {
        width: auto; 
        font-family: 'Roboto medium';
        color: white !important;
        font-size: 18px ;
        margin-left: 0px;
        padding: 0px 1px;
        border-radius: 0;
        height: 20px;
        text-align: center;
        line-height: 30px;
        color: #000;
        opacity: 1;
    }
    
    
    .swiper-pagination-bullet-active {
        background: rgba(156, 18, 26, 0.5);
        color: #000;
    }
    
    .social-links {
        width: 150px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto;
        display: flex;
        justify-content: flex-start;
        z-index: 4;
        padding-left: 1px;
    }
    
    .social-links a img{
        width: 65%;
        height: 95%;
    }

    .social-link {
        margin-right: -20px;
    }
    
}

/* ------ pc responsive ------ */

@media (max-width: 1366px) and (min-width: 1360px) and (height: 768px){
    .toggle{
        top: 20%;
    }

    .content{
        padding-top: 10%;
    }
}

@media (width: 720px) and (height: 1280px){
    .logo h2{
        width: 600px;
        height: 82px;
        font-size: 60px;
    }

    .content-position a{
        font-size: 28px;
    }

    .swiper-pagination-bullet{
        font-size: 20px;
        margin:0 6px;
    }

    .social-links{
        bottom: 0.5%;
    }

    .social-links a img{
        width: 99%;
        height: 99%;
    }

    .social-link{
        margin-right: 10px;
        margin-bottom: 1px;
    }
}

@media (width: 1080px) and (height: 1920px){
    .swiper-pagination-bullet{
        font-size: 32px;
    }
}

@media (width: 1280px) and (height:800px){
    .content{
        padding-top: 16%;
    }
    .toggle{
        top: 20%;
    }

    .content{
        padding-top: 10%;
    }

}

@media (width: 480px) and (max-height:855px) and (min-height: 801px){

    .swiper-pagination{
        padding-left: 0%;
    }

    .swiper-pagination-bullet{
        margin: 0 3px !important;
        font-size: 16px;
    }
}

@media (width: 800px) and (height: 600px){
    .content{
        padding-top: 8%;
    }
    .swiper-pagination{
        padding-left: 0%;
    }

    .swiper-pagination-bullet{
        margin: 0 6px !important;
    }
}

@media (width: 1024px) and (height: 600px){
    .content{
        padding-top: 4%;
    }
}

@media (max-width: 663px){
    .close-button{
        display: inline;
    }
    .center-information{
        width: 75%;
        margin-left: 20px ;
        display: none;
    }
    .icon{
        display: inline;
        vertical-align: middle;
    }
}