/* --- reset ---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- end of reset ---*/

body{
    width: 100%;
}

.header-line{
    width: 95px;
    height: 100%;
}

.header-line{
    position: absolute;
    height: 100%;
    width: 95px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}

.header-logo{
    height: 10%;
    width: 95px;
    padding-top: 35px;
    text-align: center;
}

.header-logo h1{
    font-family: 'Franklin Gothic Heavy', sans-serif;
    font-size: 60px;
    color: white;
}

.humburger-menu{
    position: absolute;
    top: 30%;
    width: 39px;
    height: 53px;
    cursor: pointer;
    background-color: transparent;
    margin-left: 28px;
    padding: 0;
    border: 0;
    outline: 0;
}

.nav-bar{
}

.nav-links{
    width: 96px;
    height: 534px;
    position: absolute;
    top: 40%;
    left: 0%;
    bottom: 5%;
    cursor: pointer;
    /* margin: -21px 0 0 -21px; */
    margin-left: -5px;
    background-color: transparent;
    padding: 0;
    border: 0;
    size: cover;
}

.nav-link{
    height: 159px;
    position: absolute;
    color: white;
    line-height: 30px;
    top: 65%;
    left: -20%;
    font-size: 24px;
    font-family: 'Franklin Gothic Heavy', sans-serif;
    transform: rotate(-90deg);
    margin-top: 26px;
    margin-left: 45px;  
    text-align: left;
}

.excursion{
    top: 32.25%;
    left: -5%;
}

.center{
    top: 0.5%;
    left: -28%;
}

 div .active{
    color: #d7272e;
}

.swiper {
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    max-width: 1920px;
    background: url(../resources/img/Center\ of\ Security.jpg) center no-repeat;
    background-size: cover;
}

.content{
    padding-left: 20%;
    padding-top: 26%;
}

.logo h2{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 82px;
    max-width: 651px;
    margin-left: 10%;
    font-size: 72px;
    color: white;
    font-family: 'Roboto';
    background-color: rgba(161,0,7,0.6);
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 0px;
}

.logo_text{
    
}

.content-position{
    display: block;
    margin-left: 10%;
    margin-top: 15px;
}

.content-position a{

    font-family: 'Roboto';
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    background-color: rgba(83,80,80,0.7);
}